html {
    font-size: 1.25rem;
    background-color: #000000;
    color: #f0f0f0;
}

body {
    min-height: 100vh;
    max-width: 90%;
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}

input, textarea, select {
    border: 1px solid #ccc; 
    border-radius: 6px; 
    padding: 4px;
    background-color: #222;
    color: white;
}

a {
    color: hsl(280,100%,50%);
}

a:hover {
    color: hsl(280,100%,70%);
}

