.gallery{
    display: inline-block;
    border: 1.4px solid hsl(0, 2%, 89%);
    width: 200px;
    margin: 3px;
}

.gallery:hover{
    border: 1.5px solid hsl(0, 0%, 56%);
}

.gallery .description{
    padding: 5px;
    text-align: center;
}

.gallery img{
    width: 100%;

}