.containers{
    display: flex;
    /* justify-content:space-around; */
    height: 90vh;
    border: 5px solid black;
    /* flex-wrap: wrap; */
    /* align-content: start; */
    /* column-gap: 1em; */
    /* row-gap: 1em; */

}
.box{
    height: 150px;
    width: 150px;
    /* border:   solid black; */
    border-radius: 15px;
    font-size: 8em;
    text-align: center;
    /* margin: 0.1em; */
}

.box1{
    background-color: red;
    /* align-self:center; */
}

.box2{
    background-color: rgb(53, 251, 53);
}

.box3{
    background-color: blue;
}

.box4{
    background-color: orange;
}

.box5{
    background-color: yellow;
}

/* .box:hover{
    box-shadow: 5px 5px 7px rgb(184, 183, 183) ;
    cursor:pointer;
} */