
*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: hsl(0, 94%, 81%);
    text-align: center;
    padding: 20px;
    /* display: block; */
    /* height: 50px; */
}

.navrod{
    background-color: hsla(32, 92%, 90%, 0.842);
    height: 40px;
}

aside{
    float: left ;
    width: 30%;
    padding: 15px;
}
section{
    float: left;
    width: 40%;
    padding: 15px;

}

article{
    width: 30%;
    float: left;
    padding: 15px;
}

footer{
    background-color: hsl(0, 94%, 87%);
    text-align: center;
    padding: 20px;
    display: block;
    clear: both;
}

@media  screen and (max-width:600px) {
    aside, section, article{
        width: 100%;
    }
    
}
