.pagination{
    text-align: center;
}

.pagination a{
    color:black;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
}

.pagination a.active{
    background-color: aquamarine;
    border-radius: 5px;
}

.pagination a:hover:not(.active){
    background-color: rgb(200, 200, 187);
    border-radius: 5px;
}